/*=> START_GOLOBAL_STYLE*/
:root {
  --mainColor: #00a78e;
  --mainTextColor: #646f87;
  --headerMainColor: #293651;
}
body{
  margin: 0px;
  padding:0px;
  background-color: #fff;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none !important;
}
section {
  padding: 25px;
  margin-top: 50px;
}
.row > div {
  margin-bottom: 50px;
}
h1,
h4 {
  font-weight: bold;
  color: var(--headerMainColor);
  letter-spacing: 0.02em;
  max-width: 25px 0px;
  margin-bottom: 25px;
}

h1 {
  font-size: 35px;
}
h4 {
  color: var(--mainColor);
}
p {
  color: var(--mainTextColor);
  font-size: 14px;
}
button {
  border: none;
  height: 56px;
  width: 130px;
  border-radius: 0px 0px 30px 0px;
  font-weight: bold;
}
/*=> END_GOLOBAL_STYLE*/
/*=> START_NAVBAR_STYLE*/
.navbar {
  position: sticky;
  top: 0px;
  z-index: 999;
}
.navbar .navbar-brand {
  color: var(--mainColor);
}
.navbar .navbar-brand::first-letter {
  background-color: var(--mainColor);
  color: #fff;
  display: block;
  padding: 2px 5px;
  border-radius: 0px 10px;
}
.navbar .navbar-toggler {
  color: var(--mainTextColor);
}
.navbar .collapse .navbar-nav {
  margin: auto;
}
.navbar .collapse .navbar-nav li {
  margin: 5px 15px;
}
.navbar .collapse .navbar-nav li a {
  color: var(--mainTextColor) !important;
  cursor: pointer;
  text-align: left;
}
.navbar .collapse .navbar-nav li.active::after {
  content: "";
  margin: 0px auto;
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--mainColor);
}
.navbar .collapse .navbar-nav li.active a {
  color: var(--mainColor);
}
.navbar .collapse .navbar-nav li::after {
  content: "";
  margin: 0px auto;
  display: block;
  width: 0px;
  height: 3px;
  transition: all 0.5s linear;
}

.navbar .collapse .navbar-nav li:hover::after {
  width: 40px;
  background-color: var(--mainColor);
}
.navbar .collapse .navbar-nav li:hover a {
  color: var(--mainColor);
}
@media (max-width: 768px) {
  .navbar .navbar-nav li a {
    text-align: center !important;
  }
}

/*=> END_NAVBAR_STYLE*/
/*=> START_BANNER_STYLE*/
.banner {
  padding: 25px;
  position: relative;
  overflow: hidden;
}
.banner::after {
  content: "";
  display: block;
  position: absolute;
  right: -600px;
  top: 0px;
  width: 100%;
  height: 800px;
  background-color: var(--mainColor);
  z-index: -2;
  transform: rotate(60deg);
}

.banner .row > div {
  height: 650px;
}
.banner .banner-text h4:first-of-type {
  color: var(--mainColor);
  font-weight: bold;
}
.banner button {
  background-color: var(--mainColor);
  color: #fff;
}
.banner .banner-social {
  margin-top: 25px;
  height: 50px;
  border-radius: 30px;
  width: auto;
  box-shadow: 1px 1px 3px #ccc, -1px -1px 3px #ccc;
}
.banner .banner-social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner .banner-social ul li {
  list-style: none;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
}
.banner .banner-social ul li a {
  font-size: 22px;
  color: var(--mainTextColor);
  cursor: pointer;
  line-height: 50px;
}
.banner .row > div:last-of-type {
  text-align: center;
  width: 400px;
  background-image: url("./img/banner/hero.png");
  background-attachment: fixed;
  background-position: 75% center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .banner::after {
    display: none;
  }
  .banner .row > div:last-of-type {
    width: 100%;
    background-position: center center;
  }
}
/*=> END_BANNER_STYLE*/
/*=> START_ABOUT_STYLE*/
.about {
  margin-top: 50px;
}
.about img {
  height: 100%;
  width: 100%;
}
.about .about-text h4 {
  color: var(--mainColor);
}
.about .about-skills .skill-item {
  margin-bottom: 25px;
}
.about .about-skills .skill-item .skill-bar {
  height: 5px;
  width: 350px;
  background-color: #ccc;
}
.about .about-skills .skill-item .skill-bar .skill-percent {
  height: 100%;
  background-color: var(--mainColor);
  position: relative;
}
.about .about-skills .skill-item .skill-bar .skill-percent span {
  display: block;
  position: absolute;
  top: -30px;
  right: 0px;
  height: 25px;
  border-radius: 10px;
  color: var(--mainColor);
}
/*=> END_ABOUT_STYLE*/
/*=> START_SERVICE_STYLE*/
section.service {
  background-color: #f9f9f9;
}
section.service div.service-single {
  background-color: #fff;
  box-shadow: 1px 1px 5px #ccc;
  padding: 20px;
  border-radius: 0px 0px 20px 0px;
}
section.service div.service-single header {
  height: 50px;
  width: 80px;
  display: block;
  background-color: var(--mainColor);
  padding: 10px;
  color: #fff;
  border-radius: 0px 0px 20px 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

section.service div.service-single h6 {
  font-size: 22px;
  font-weight: bold;
}
/*=> END_SERVICE_STYLE*/
/*=> START_PORTFOLIO_STYLE*/
section.portfolio button {
  background-color: transparent;
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
}
section.portfolio .row > div div.portfolio-single {
  padding: 25px;
}
section.portfolio div.portfolio-single header {
  margin-bottom: 25px;
}
section.portfolio div.portfolio-single header img {
  width: 100%;
  height: 300px;
}
section.portfolio div.portfolio-single h5 {
  font-weight: bold;
}
section.portfolio div.portfolio-single h6 {
  color: var(--mainTextColor);
  font-size: 16px;
}
/*=> END_PORTFOLIO_STYLE*/
/*=> START_PIRCING_STYLE*/
section.pricing {
  background-color: #f9f9f9;
}
section.pricing .pricing-single {
  padding: 25px;
  border-radius: 0px 0px 20px 0px;
  background-color: #fff;
  color: var(--mainTextColor);
  box-shadow: 1px 1px 5px #ccc;
  overflow: hidden;
}
section.pricing .pricing-single header {
  position: relative;
}
section.pricing .pricing-single header h3:first-of-type,
section.pricing .pricing-single header h5 {
  color: var(--headerMainColor);
  margin-bottom: 25px;
}
section.pricing .pricing-single header h3:last-of-type {
  color: var(--mainColor);
  margin-bottom: 25px;
}
section.pricing .pricing-single header span {
  height: 25px;
  width: 200px;
  text-align: center;
  display: block;
  background-color: var(--mainColor);
  color: #fff;
  position: absolute;
  top: 0px;
  right: -70px;
  transform: rotate(33deg);
}
section.pricing .pricing-single ul li {
  list-style: none;
  margin: 25px auto;
}
section.pricing .pricing-single div.divider {
  height: 4px;
  width: 100%;
  background-color: var(--mainTextColor);
  margin-bottom: 25px;
}
section.pricing .pricing-single button {
  width: 150px;
  border-radius: 0px 0px 20px 0px;
}
section.pricing div.container div.row > div > div.pricing-single button {
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  background-color: #fff;
}
section.pricing
  div.container
  div.row
  > div.col-md-4:nth-of-type(2)
  > div.pricing-single
  button {
  background-color: var(--mainColor);
  color: #fff;
}
/*=> END_PIRCING_STYLE*/
/*=> START_STATISTICS_STYLE*/
section.statistics .container .row div div.single > i {
  display: block;
  color: var(--headerMainColor);
  height: 50px;
  width: 50px;
  float: left !important;
  margin-right: 20;
  font-size: 30px !important  ;
}
section.statistics .container .row div div.single div {
  width: 150px;
  float: left;
  margin-left: 10px;
}
/*=> END_STATISTICS_STYLE*/
/*=> START_EXPERIENCE_STYLE*/
section.experience {
  background-color: #f9f9f9;
}
section.experience .row::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 49.8%;
  background-color: var(--mainColor);
}
section.experience .container .row {
  position: relative;
}
section.experience .container .row > div p {
  background-color: #fff;
  box-shadow: 1px 1px 5px #ccc;
  padding: 20px;
  line-height: 1.2em;
  border-radius: 0px 0px 20px 0px;
  letter-spacing: 1.5px;
  line-height: 1.6em;
}
section.experience .container .row > div span {
  height: 50px;
  width: 50px;
  display: block;
  margin: auto;
  border-radius: 50%;
  border: 2px solid var(--mainColor);
  line-height: 50px;
  text-align: center;
  color: var(--mainColor);
  background-color: #fff;
}
@media (max-width: 768px) {
  section.experience .container .row > div.experience-text {
    order: 1;
  }
  section.experience .container .row > div span {
    margin: 0px;
  }
  section.experience .container .row > div p {
    border-radius: 0px 40px 40px 40px;
  }
  section.experience .row::before {
    left: 0px;
  }
}
/*=> END_EXPERIENCE_STYLE*/
/*=> START_CONTACT_STYLE*/

section.contact .row {
  padding: 25px;
  background-color: var(--mainColor);
  border-radius: 0px 0px 30px 0px;
}
section.contact .row div p {
  color: #fff;
}
section.contact .row div button {
  width: 150px;
  background-color: #fff;
  color: var(--mainColor);
}
/*=> END_CONTACT_STYLE*/
/*=> START_FOOTER_STYLE*/
section.footer {
  margin-top: 50px;
  background-color: #f9f9f9;
  color: #f00;
}
section.footer h3,
section.footer h6 {
  color: var(--headerMainColor);
}
/*=> END_FOOTER_STYLE*/
/*end style*/
@media (max-width: 600px) {
  h1 {
    font-size: 26px !important;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px !important;
  }
  .about .about-skills .skill-item .skill-bar {
    width: 300px;
  }
}
